.ais-SearchBox-submit,
.ais-SearchBox-reset {
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ais-SearchBox-submit::-moz-focus-inner,
.ais-SearchBox-reset::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.ais-SearchBox-submit[disabled],
.ais-SearchBox-reset[disabled] {
    cursor: default;
}

.ais-InfiniteHits-loadPrevious,
.ais-InfiniteHits-loadMore,
.ais-HierarchicalMenu-showMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
    overflow-anchor: none;
}

.ais-SearchBox-input::-ms-clear,
.ais-SearchBox-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.ais-SearchBox-input::-webkit-search-decoration,
.ais-SearchBox-input::-webkit-search-cancel-button,
.ais-SearchBox-input::-webkit-search-results-button,
.ais-SearchBox-input::-webkit-search-results-decoration {
    display: none;
}


.ais-SearchBox {
    color: rgb(58, 69, 112);
}


.ais-SearchBox-form {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.ais-SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 1.7rem;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid rgb(196, 200, 216);
    border-radius: 5px;
    outline: 1px solid rgb(196, 200, 216);
}

.ais-SearchBox-input:focus,
.ais-SearchBox-input:focus-within,
.ais-SearchBox-input:active {
    border: 1px solid rgb(164, 167, 182);
}

.ais-SearchBox-input::-webkit-input-placeholder {
    color: #a5aed1;
}

.ais-SearchBox-input::-moz-placeholder {
    color: #a5aed1;
}

.ais-SearchBox-input:-ms-input-placeholder {
    color: #a5aed1;
}

.ais-SearchBox-input:-moz-placeholder {
    color: #a5aed1;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: fit-content;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #20619B;
    padding: 1.5rem;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ais-SearchBox-submitIcon path,
.ais-SearchBox-resetIcon path,
.ais-SearchBox-loadingIcon path {
    fill: white;
}


.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIcon {
    width: 1.25rem;
    height: 1.25rem;
}

/* .ais-SearchBox-submitIcon {
    width: 14px;
    height: 14px;
}

.ais-SearchBox-resetIcon {
    width: 12px;
    height: 12px;
}

.ais-SearchBox-loadingIcon {
    width: 16px;
    height: 16px;
} */